<div class="p-10 w-1/2 mx-auto text-center space-y-10">
    <h1 class="text-4xl font-bold text-indigo-800 uppercase">Bienvenido, Inicia Sesion Aqui!</h1>
    <form class="flex flex-col w-1/2 mx-auto space-y-4" id="formLogin" >

        <div class="flex flex-col items-center text-center space-y-3 w-full">
            <label class="font-bold text-lg uppercase" for="email">Email</label>
            <input class="p-2 rounded-full border-2 border-indigo-800 pl-5 w-full" placeholder="Tu email" type="email" name="email">
        </div>

        <div class="flex flex-col items-center text-center space-y-3 w-full">
            <label class="font-bold text-lg uppercase" for="password">Contraseña</label>
            <input class="p-2 rounded-full border-2 border-indigo-800 pl-5 w-full" placeholder="Tu contraseña" type="password" name="password">
        </div>

        <div id="alert"></div>
        <input class="p-4 rounded-full bg-indigo-800 text-white cursor-pointer font-bold uppercase" value="Registrarse" type="submit" >
    </form>
</div>

<script src="js/login.js"></script>